# ОС и Инструменты
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
*.log

# Секреты и Конфигурации
.env
.env.*
!.env.example
*.pem
*.key
*.crt
yc-config.yaml
*.yc-credentials

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/

# Виртуальные окружения
.venv/
venv/
env/
backend/venv/
backend/env/

# Frontend (React / Node.js)
/frontend/node_modules/
/frontend/build/
frontend/.vite/
/frontend/dist/
/frontend/.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend (Python)
/backend/flask_session/
/backend/instance/
/backend/logs/
logs/

# База Данных
*.sqlite3
*.db
database/*.db

# Документация и сборка
docs/_build/
dist/
build/
*.egg-info/