# Yandex Cloud
YC_FOLDER_ID=your_folder_id_here
YC_REGION=ru-central1

# Service account
SERVICE_ACCOUNT_ID=ajemm2m5ho2c0e2rtqli

# API Gateway
API_GATEWAY_URL=https://d5d5sl318gmabr3ciul9.z7jmlavt.apigw.yandexcloud.net

# YDB
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/.../...