# Шаблон переменных окружения

# Настройки Flask
FLASK_APP=app.py
FLASK_DEBUG=1

# Секрет для подписи JWT токенов
JWT_SECRET=your-secret-key-here

# Yandex Cloud
YC_FOLDER_ID=your_folder_id_here
YC_REGION=ru-central1

# YDB Configuration
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/.../...

# Service account
SERVICE_ACCOUNT_ID=your-service-account-id

# API Gateway
API_GATEWAY_URL=https://your-api-gateway-url.apigw.yandexcloud.net
