# Шаблон переменных окружения

# Настройки Flask
FLASK_APP=app.py
FLASK_DEBUG=1

# Секрет для подписи JWT токенов
JWT_SECRET=

# Подключение к БД PostgreSQL (формат: postgresql://user:password@host:port/dbname)
DATABASE_URL=